$primaryColor: #A9A9A9;
$highlights:#DA70D6;
$tone:#ADD8E6;
$appB:#E6E6FA;
$text:#4169E1;
$font-stack:    Helvetica, sans-serif;

@mixin border-radius($radius){
  border-radius: $radius;
}


body {
  background: $primaryColor;
  font: 100% $font-stack;
}

#box {
background: $tone;
padding:20px;
border:3px ridge $highlights;
@include border-radius(10px);
}

#app {
  background:$appB;
  padding:15px;
  text-align:center;
  margin:0px 100px 0px 100px;
  border:1px solid $highlights;
  @include border-radius(25px);
}

#main {
  @extend #app;
}
h3 {
  color:$text;
  text-shadow: 1px 1px white;
}

h4 {
  @extend h3;
}
h5 {
  @extend h4;
}
p {
  font-family:Geneva;
  padding:1px;
}
