$primaryColor: #A9A9A9;
$highlights:#DA70D6;
$tone:#aa8bd0;
$appB:#E6E6FA;
$text:#4169E1;
$font-stack:    Helvetica, sans-serif;

@mixin border-radius($radius){
  border-radius: $radius;
}


body {
  background: $primaryColor;
  font: 100% $font-stack;
}

#box {
  background: $tone;
  padding:20px;
}

#app {
  padding:5px;
  text-align:center;
  margin:0px 150px 0px 150px;

}

#main {
  @extend #app;
  background:$appB;
  border:1px solid $highlights;
}
h3 {
  color:$text;
}

div.panel panel-default {
  background: $primaryColor;
  color:white;
}

h4 {
  @extend h3;
}
h5 {
  @extend h4;
}
p {
  font-family:Geneva;
  padding:1px;
}

button {
  background-color: $appB;
  @include border-radius(5px);
  padding: 5px;
}

button h4 {
  color:$text;
  text-shadow:none;
}

#main p {
  display: none;
}
